<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>206519716919-3na384vamb02rj9tcvcr07vg6c87d7gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206519716919-3na384vamb02rj9tcvcr07vg6c87d7gt</string>
	<key>API_KEY</key>
	<string>AIzaSyBBpeeLCwW7a73XYgxWyPxl2JBvLn5k7cA</string>
	<key>GCM_SENDER_ID</key>
	<string>206519716919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.go2gatherrevised.ios</string>
	<key>PROJECT_ID</key>
	<string>go2gather-7836c</string>
	<key>STORAGE_BUCKET</key>
	<string>go2gather-7836c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206519716919:ios:5131adc36e79c6a7</string>
	<key>DATABASE_URL</key>
	<string>https://go2gather-7836c.firebaseio.com</string>
</dict>
</plist>